@font-face {
    font-family: 'Nanum Pen Script', cursive;
}

body {
    overflow: hidden;
}

#text {
    width: 70%;
}

#note {
    display: block;
    font-family: 'Nanum Pen Script', Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5em;
}

.uk-button-default {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(38, 181, 85, 0.65);
    padding: 1em;
    margin-top: 3%;
}

.uk-button-default:hover {
    color: #26B555;
    background-color: #000;
    opacity: 65%;
    padding: 1em;
}

.uk-button-default:active {
    color: #000;
    background-color: rgba(38, 181, 85, 0.65);
    padding: 1em;
}

.uk-button-default:focus {
    color: red;
    background-color: #000;
    opacity: 65%;
    padding: 1em;
}

#controls {
    margin-top: 5%;
}

#bg {
    position: absolute;
    z-index: -99;
    padding: 0px;
    margin: 0px;
}

iframe {
    display: block; /* Eliminate white space on left side :) */
}

@media (min-width:600px) {
    #note {
        font-size: 22px;
        height: 3em;
        padding: 1em;
    }
}

@media (min-width:700px) {
    #note {
        font-size: 30px;
        height: 3em;
        padding: 1.2em;
    }
}

@media (min-width:800px) {
    #note {
        font-size: 34px;
        height: 3em;
        padding: 1.2em;
    }
}

@media (min-width:1100px) {
    #note {
        color: #FFF;
        height: 3em;
        font-size: 36px;
        padding: 1.2em;
    }
}

@media (min-width:1600px) {
    #note {
        height: 2.5em;
        font-size: 44px;
        padding: 1.3em;
        margin-bottom: 5em;
    }
}